*{
    box-sizing: border-box;
    user-select: none;
}

:root {
    color-scheme: only light;
}


body{
    overflow: hidden;
    cursor: url(img/Skyrim_Chillrend_Sword_Cursor.png) , auto;
    background: #000000;
    color: white;
}

*:hover{
    cursor: url(img/Skyrim_Chillrend_Sword_Cursor.png) , auto;
}

.pop-up{
    position: fixed;
    margin: -5.5rem .75rem;
    width: 95vw;
    height: 95vh;
    z-index: 2;
    background: #000000;
    filter: blur(5%);
    color: white;
    backdrop-filter: blur(100%);
    align-items: center;
    text-align: justify;
    font-size: large;
    padding: 1.5rem;

}

.pop-up .close{
    position: relative;
    top: 3%;
    left: 95%;
    width: 2rem;
    border-radius: 60%;
    right: 0; 
    z-index: 1;
    padding: .5rem;
}

.pop-up .close:hover{
    color: red;
    background-color: #2a2a2a;
    border: 1px white solid;
}

.pop-up .play{
    width: 5rem;
    height: 2rem;
    border-radius: 5%;
    margin: .5rem 44%;
}

.pop-up .play:hover{
    color: green;
    background-color: #2a2a2a;
    border: 1px white solid;
}



.nav
{
    top: 0;
    left: 0;    
    height: 8rem;
    width: 100%;
    display: inline-flex;
    position: fixed;
    border-bottom: 1px white solid; 
    background-color: #2a2a2a;
}

.pop-up .nav{
    position: relative;
    background: transparent;
}

.nav #logo
{
    margin: .5rem;
    padding: .5rem;
    margin-left: 2rem;
    width: 7rem;
    height: 7rem;
    border-radius: 30%;
}

.nav h1{
    margin: .5rem;
    padding: .5rem;
    align-self: center;
    font: 2em sans-serif;
}


.score {
    display: flex;
    align-items: center;
    margin-top: 9rem;
    font-size: large;
}


.score .X, .score .O {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
    padding: .2rem;
    border: 1px white solid;
    width: 5rem;
    height: 2.5rem;
}

.score img {
    width: 1rem;
    height: 1rem;
}

.game {
    align-self: center;
    margin: .5rem 35%;
    display: grid;
    grid-template-columns: repeat(3, 135px); 
    grid-template-rows: repeat(3, 135px);
    gap: 10px;
}

.game div {
    background-color: #ffffff; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; 
    transition: background-color 0.3s ease; 
}


.game div:hover {
    background-color: #767676;
}


.cell img {
    width: 100px;
    height: 100px;
}

.reset {
    position: fixed;
    padding: 0.5rem 1rem;
    bottom: 2.5%;
    left: 45%;
    border: none;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: white;
    font-size: 1.5rem;
}

.reset:hover {
    background-color: #4a4a4a;
}


footer{
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    font: .8rem sans-serif;
    position: fixed;
    overflow: hidden;
    align-items: right;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 25%;
}

footer a, footer i{
    cursor: pointer;
    color: white;
    margin: 0 0.25rem 0 0;
}

footer a:hover, footer i:hover{
    color: blue;
}

@media (max-width: 1080px) and (min-width: 600px) {
    footer{
        width: 35%;
        font: 1rem sans-serif;
    }     
}

@media (max-width: 600px) {

    .pop-up{
        width: 98%;
        height: 98%;
        font-size: small;
        margin-left: .5%;
        margin-top: -5rem;
    }
    
    
.nav
{   
    height: 5rem;
    width: 100%;
}

.nav #logo
{
    margin: .5rem;
    padding: .5rem;
    margin-left: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 30%;
}

.nav h1{
    margin: .5rem;
    padding: .5rem;
    align-self: center;
    font: 1.2em sans-serif;
}

.score{
    margin-top: 6rem;
    font-size: medium;
}

.score .X, .score .O {
    width: 3rem;
    height: 2rem;
}

.score img {
    width: .75rem;
    height: .75rem;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 90px); 
    grid-template-rows: repeat(3, 90px);
    gap: 5px;
    margin-top: 1.5rem;
    margin-left: .5rem;
}

.cell img {
    width: 80px;
    height: 80px;
}


    footer{
        width: 50%;
    }
    
    .reset{
        font-size: 1rem;
        left: 30%;
        bottom: 18px;
    }
}
